{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block body %}

<div class="row sem-margin-margin">
    <div class="col-md-6 offset-md-3 col-lg-10 offset-lg-1 col-12">
        <div class="row margin-bottom-10px">
            <a class="btn btn-primary" href="{% url 'lancamento_form' %}">Adicionar</a>
        </div>

        <div class="row">
            <table class="table table-striped">
                <thead class="menu">
                  <tr>
                    <th scope="col">Id</th>
                    <th class="oculta-xs" scope="col">Descrição</th>
                    <th scope="col">Valor</th>
                    <th class="oculta-xs" scope="col">Data</th>
                    <th scope="col">Categoria</th>
                    <th class="acao" scope="col">Ação</th>
                  </tr>
                </thead>
                <tbody>
                    {% for lancamento in object_list %}
                    <tr>
                        <th scope="row">{{ lancamento.pk }}</th>
                        <td class="oculta-xs" >{{ lancamento.descricao }}</td>
                        <td>{{ lancamento.valor }}</td>
                        <td class="oculta-xs">{{ lancamento.data }}</td>
                        <td>{{ lancamento.categoria.descricao }}</td>
                        <td class="d-flex justify-content-center acao">                            
                            <a href="{% url 'lancamento_delete' lancamento.pk %}"><i class="material-icons red">delete</i></a>
                        </td>
                    </tr>
                    {% endfor %}
    
                  
                </tbody>
              </table>
        </div>
    </div>
</div>
{% endblock %}